
.blog {
  min-height: 200px;
  float: left;
  width: 60%
}

.blog-text-block {
  margin-left: 10px;
}

h1 {
  color: #30373d;
  font-family: $font-stack;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1.16667;
	margin-top: 75px;
}

.byline {
  font-style: italic;
  margin: 20px 0;
	color: black;
}

.byline span {
	color: #69A1C5;
}

.blog img {
	width: 425px;
}
