/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





@font-face {
  font-family: Open-Sans;
  src: url("OpenSans-Regular.ttf");
}

@font-face {
  font-family: Open-Sans;
  src: url("OpenSans-Bold.ttf");
	font-weight: bold;
}

header {
  background-image: url('skyline.jpg');
  height: 260px;
  background-size: cover;
  background-position: bottom;

}

.main {
  width: 700px;
  margin: 0 auto 0 auto;
}

.sidebar {
  min-height: 200px;
  background-color: pink;
  float: left;
  width: 25%;
}

#logo {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: solid 4px white;
	background-color: #222020;
	margin: -25px auto 0 auto;
}

h2 {
  text-transform: uppercase;
  font-family: 'Open-Sans', sans-serif;
  font-weight: bold;
	font-size: 14px;
  color: #71716E;
  margin-top: 50px;
  margin-bottom: 10px;
}

p {
	color: #bab9b9;
}

.sidebar hr {
  border: 0;
  border-top: 1px solid #E0E0E0;
	width: 150px;
}

h3 {
  text-transform: uppercase;
  font-family: 'Open-Sans', sans-serif;
  font-weight: bold;
	font-size: 12px;
  color: #bab9b9;
  margin-top: 25px;
  margin-bottom: 25px;
}

.blog {
  min-height: 200px;
  background-color: gray;
  float: left;
  width: 70%
}

.blog-text-block {
  margin-left: 10px;
}

h1 {
  color: #30373d;
  font-family: 'Open-Sans', sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1.16667;
	margin-top: 75px;
}

.byline {
  font-style: italic;
  margin: 20px 0;

}

.follow-box {
	outline: solid 1px black;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 225px;
}

h4 {
	font-family: 'Open-Sans', sans-serif;
	font-weight: bold;
	font-size: 10px;
	margin-top: 12px;
	margin-bottom: 12px;
	line-height: 0;
}

.close {
	position: absolute;
	top: 4px;
	right: 4px;
	font-weight: bold;
	color: #bbbbbb;
}
